<app-navbar></app-navbar>
<br>
<div id="home-row" class="grid-layout-2">
  <div class="left-home f-centered-container">
    <div class="form-with-title-container">
      <div style="text-align: center;">
        <h2 class="title-home m-b-20">About Me</h2>
      </div>
      <div>
        Texto que ira como descripción mia
      </div>
      <p class="m-t-20">¿No tienes una cuenta?, puedes <a style="color: #013220;">Registrarte</a></p>
    </div>
  </div>
  <div class="right-home">
    <div style="text-align: center;" class="m-b-20">
      <img style="width: 50%; border-radius: 10%;" src="assets/photo.jpeg" alt="photo.jpeg">
    </div>
    <h3 style="color: white; font-size: 40px; font-family: 'Rowdies';">Jorge Eduardo Morataya Socop</h3>
  </div>
</div>
<br>
