<ngx-spinner template="<img src='../../../assets/pageLoading.gif' />" bdColor="rgba(31, 109, 199, 1)" [disableAnimation]="false" name="main"></ngx-spinner>

<app-navbar></app-navbar>

<div id="home-row" class="grid-layout-2">
  <div class="left-home f-centered-container">
    <div class="form-with-title-container">
      <div style="margin: auto; display: table;">
        <h2 class="title-home m-b-20">Acerca de mí...<span>&#160;</span></h2>
      </div>
      <div style="margin-bottom: 40px; font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; text-align: justify; font-size: 18px; margin: auto; display:table">
        <p>Programador Junior con 3 años de experiencia. Con conocimiento en las tecnologías, como: MySQL, MongoDB, Angular, HTML, CSS, Java, Express, JavaScript.<span>&#160;</span></p>
      </div>
      <li class="icon">
        <a href="https://github.com/jmorataya2019041" target="_blank" class="gitHub"><li><i class="fab fa-github"></i></li></a>
        <a href="mailto:moratayajorge627@gmail.com?Subject=Contacto%20de%20trabajo" target="_blank" class="gmail"><li><i class="far fa-envelope"></i>></li></a>
        <a href="mailto:jmorataya-2019041@kinal.edu.gt?Subject=Contacto%20de%20trabajo" target="_blank" class="outlook"><li><i class="fas fa-at"></i></li></a>
      </li>
    </div>
  </div>
  <div class="right-home">
    <div style="text-align: center;" class="m-b-20">
      <img style="width: 50%; border-radius: 10%;" src="assets/photo.jpeg" alt="photo.jpeg">
    </div>
    <div style="margin: auto; display: table;">
      <h2 class="nombre" style="color: white; font-size: 40px; font-family: 'Rowdies';">Jorge Morataya<span>&#160;</span></h2>
    </div>
  </div>
</div>
<app-footer></app-footer>
