<nav class="navbar navbar-expand-lg navbar-light color">
  <div class="container-fluid">
    <img src="assets/fundacion-kinal.png" alt="logo kinal" style="width:150px; height:60px">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" routerLink="/home">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/usuarios" *ngIf="role === 'admin' ">Usuarios</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Bibliografías
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" style="cursor:pointer" routerLink="/libros">Libros</a></li>
            <li><a class="dropdown-item" style="cursor:pointer" routerLink="/revistas">Revistas</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Mi Usuario
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item perfil" style="cursor:pointer" routerLink="/miUsuario"><i class="fas fa-user"></i> Perfil</a></li>
            <li><a class="dropdown-item prestamos" style="cursor:pointer" routerLink="/misPrestamos"><i class="fas fa-book-reader"></i> Mis Préstamos</a></li>
            <li><a class="dropdown-item historial" style="cursor:pointer" routerLink="/miHistorial"><i class="far fa-clipboard"></i> Mi Historial</a></li>
            <li><a class="dropdown-item logout" style="cursor:pointer" (click)="loginService.logout()"><i class="fas fa-sign-out-alt"></i> Cerrar Sesión</a></li>
          </ul>
        </li>
      </ul>
      <form class="d-flex">
        <div class="box">
          <div class="container-1">
              <span class="icon"><i class="fa fa-search"></i></span>
              <input type="search" id="search" placeholder="Search..." />
          </div>
        </div>
      </form>
    </div>
  </div>
</nav>
