<footer>
  <div style="width: 100%; background-color: #242363">
      <div style="padding: 8px 0;" class="grid-layout-2">
          <div id="footer-left">
              <div style="width: fit-content;">
                  <img id="footer-logo" src="../assets/fundacion-kinal2.png" alt="logo_footer.png">
              </div>
          </div>
          <div id="footer-right">
              <div>
                  <div style="margin-bottom:3px">
                      <a class="footer-icon" href="https://www.facebook.com/kinal.gt/" target="_blank"><i class="fab fa-facebook-square"></i></a>
                      <a class="footer-icon" href="https://www.kinal.org.gt/" target="_blank"><i class="fas fa-building"></i></a>
                      <a class="footer-icon" href="https://gt.linkedin.com/company/kinal.gt" target="_blank"><i class="fab fa-linkedin"></i></a>
                  </div>
                  <p style="margin-bottom:1px;color:white; font-size: 13px">+(502) 2216-0026</p>
                  <p style="margin-bottom:1px; color:white; font-size: 13px">infocet@kinal.org.gt</p>
              </div>
          </div>
      </div>
  </div>
  <div style="text-align: center; background-color: #242363; padding:1px 0">
      <p style="color:white; font-size: 13px">FUNDACIÓN KINAL | &copy;2021 ALL RIGHT RESERVED </p>
  </div>
</footer>
